
h1 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background-image: linear-gradient(to bottom, #eca0ff, #e9bbff, #ebd3ff, #f2eaff, #ffffff);
  
}
h2 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #cef5ff, #9ef5ff, #69f5ff, #69f5ff, #69f5ff, #69f5ff, #9ef5ff, #cef5ff, #f0f8ff, #ffffff);
  
}
h3 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif; 
 background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #cef5ff, #9ef5ff, #69f5ff, #69f5ff, #69f5ff, #69f5ff, #9ef5ff, #cef5ff, #f0f8ff, #ffffff);
}
h4 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;   
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #cef5ff, #9ef5ff, #69f5ff, #69f5ff, #69f5ff, #69f5ff, #9ef5ff, #cef5ff, #f0f8ff, #ffffff);
}
h5 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;  
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #cef5ff, #9ef5ff, #69f5ff, #69f5ff, #69f5ff, #69f5ff, #9ef5ff, #cef5ff, #f0f8ff, #ffffff);
}
h6 {
  color: black;
  text-align: center;
  font-family: "Garamond" , serif;
  background-image: linear-gradient(to bottom, #ffffff, #f0f8ff, #cef5ff, #9ef5ff, #69f5ff, #69f5ff, #69f5ff, #69f5ff, #9ef5ff, #cef5ff, #f0f8ff, #ffffff);
}
p {
  color: #4C0334;  
  font-family: "Courier New", Times, serif;
  font-size: 18px;
  
  
}

body {
  
}
.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 45em;
}
.image-row {
  display: flex;
  justify-content: space-between; /* this will add equal space between each image */
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;  
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #eca0ff, #94c6ff, #00e3ff, #00f6ff, #84ffc9);
}

.leftArrow {
  width:30;
  height:30;
}
.leftArrow:hover{
  content: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6e0796cc-05aa-40e7-804a-686b9bdc79fd/d92x0zu-ab888374-339b-432d-b9cc-96fd161938be.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZlMDc5NmNjLTA1YWEtNDBlNy04MDRhLTY4NmI5YmRjNzlmZFwvZDkyeDB6dS1hYjg4ODM3NC0zMzliLTQzMmQtYjljYy05NmZkMTYxOTM4YmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.IfJwLknAsMlGOnzOYQGBaHLJlnjZMKKBatSJ_JP3ut0")
  width: 30;
  height: 30;
}
.rightArrow{
  width:30;
  height:30;  
}
.rightArrow:hover{
  content: url("https://art.pixilart.com/806ad13906715dd.gif")
  width:30;
  height:30;
}
